{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["module-resolver", {
			"root": ["./dist"],
			"alias": {
				"@config": "./dist/config",
				"@modules": "./dist/modules",
				"@shared": "./dist/shared"
			}
    }]
  ],
  "ignore": [
    "**/*.spec.ts"
  ]
}
